
<form action="/parcel" method="post">
  <label for="length">Enter Package Length:</label>
  <input id="length" name="length" placeholder="Inches" type="text">

  <label for="width">Enter Package Width:</label>
  <input id="width" name="width" placeholder="Inches" type="text">

  <label for="weight">Enter Approximate Weight:</label>
  <input id="weight" name="weight" placeholder="LB & Ounce" type="text">

  <button type="submit">Submit</button>
</form>